.card {
  background: rgba(87, 83, 83, 0.9);
  padding: 30px;
  border-radius: 12px;
  max-width: 700px;
  margin: auto;
}

.card h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #0f2027;
}

.card ul {
  list-style: disc;
  padding-left: 20px;
}

.card li {
  margin-bottom: 8px;
}
