.card {
  background: rgba(87, 83, 83, 0.9);
  padding: 30px;
  border-radius: 12px;
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.card h2 {
  margin-bottom: 15px;
  color: #0f2027;
}

.card p {
  margin-bottom: 10px;
  line-height: 1.6;
}
