<div class="page">

  <header class="header">
    <div class="header-content">
      <img src="./college logo.png" alt="Left Logo" class="side-logo">

      <img src="./college name.png" alt="Hackathon Text" class="center-text-img">

      <img src="/trust logo.png" alt="Right Logo" class="side-logo">
    </div>
  </header>

  <div class="logos">
    <img src="/logo1.png" alt="Left Logo">
    <h2 class="dept-name">Department Of Information Technology</h2>
    <img src="/SITE LOGO.png" alt="Right Logo">
  </div>
<nav class="navbar">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="about" routerLinkActive="active">About</a> 
  <a routerLink="rules" routerLinkActive="active">Rules</a> 
  <a routerLink="/register" routerLinkActive="active">Register</a>
<a routerLink="/prize" routerLinkActive="active">Prizes</a>
  @if (isAdminLoggedIn) {
    <a routerLink="/admin-dashboard" routerLinkActive="active">Admin Panel</a>
    <a (click)="logout()" style="cursor:pointer; color: gold;">Logout</a>
  }
</nav>
 

  <div class="page-wrapper">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer>
    <p>📧 Email: techshethra2k25&#64;gmail.com</p>
    <p>📞 Phone: 9876543210</p>
    <p>📷 Instagram: &#64;dept_hackathon</p>
  </footer>

</div>